@model List<DiseaseHistory>;

<div style="display: flex; flex-direction: row; align-items: flex-start">
    <div class="flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; display: inline-block">
        <span class="fs-4">Пациент</span>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a asp-action="Index" class="nav-link active" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>Медицинская карта
                </a>
            </li>
            <li>
                <a asp-action="ActiveRecords" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>Заказы
                </a>
            </li>
            <li>
                <a asp-action="Settings" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>Настройки
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="flex-column flex-shrink-0 p-3 bg-light" style="display: inline-block; margin-left: 10px">
        <p>@ViewBag.user.Surname @ViewBag.user.Name @ViewBag.user.Patronymic</p>
        <p>Дата рождения: @ViewBag.user.Birthdate.ToLongDateString() (@(DateTime.Today.Year - ViewBag.user.Birthdate.Year) лет)</p>
        <p>Пол: @ViewBag.user.Gender</p>
    </div>
</div>
<div>
    @if (Model is null)
    {
        <p>Записей нет</p>
    }
    else
    {
        foreach (var record in Model)
        {
            <p>Лечащий врач @record.FkEmployeeNavigation.Surname @record.FkEmployeeNavigation.Name @record.FkEmployeeNavigation.Patronymic</p>
            <p>@record.FkPatientNavigation.Gender</p>
            <p>Номера телефонов:</p>
            foreach (var phone in record.FkEmployeeNavigation.FkUsersNavigation.Phonebooks.ToList())
            {
                <p>@phone</p>
            }
            @if (record.DateRecord is null)
            {
                <p>Время не назначено</p>
            }
            else
            {
                <p>Время посещения @record.DateRecord.Value</p>
            }
            <p>Диагноз @record.Diagnosis</p>
            <p>Лечение:</p>
            <p>@record.Therapy</p>
        }
    }
</div>