@model List<Record>;

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                <a href="/ru/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi pe-none me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg> <span class="fs-4">Доктор</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a asp-action="Index" class="nav-link link-dark" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>Профиль
                        </a>
                    </li>
                    <li>
                        <a asp-action="FreeRecords" class="nav-link link-dark">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>Список больных
                        </a>
                    </li>
                    <li>
                        <a asp-action="ActiveRecords" class="nav-link active">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>Предстоящие визиты
                        </a>
                    </li>
                    <li>
                        <a asp-action="History" class="nav-link link-dark">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>Архив
                        </a>
                    </li>
                    <li>
                        <a asp-action="Settings" class="nav-link link-dark">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>Настройки
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    @if (Model is null || !Model.Any())
                    {
                        <p>Записей нет</p>
                    }
                    else
                    {
                        @foreach (var record in Model)
                        {
                            <div class="mb-4">
                                <h5 class="card-title">@record.FkPatientNavigation.Surname @record.FkPatientNavigation.Name @record.FkPatientNavigation.Patronymic</h5>
                                <p class="card-text">Дата рождения: @record.FkPatientNavigation.Birthdate.Value.ToLongDateString() (@(DateTime.Today.Year - record.FkPatientNavigation.Birthdate.Value.Year) лет)</p>
                                <p class="card-text">@record.FkPatientNavigation.Gender</p>
                                <p class="card-text">@record.FkServiceNavigation.NameService</p>
                                <p class="card-text">Номера телефонов:</p>
                                @foreach (var phone in record.FkPatientNavigation.FkUsersNavigation.Phonebooks.ToList())
                                {
                                    <p class="card-text">@phone.Phone</p>
                                }
                                @if (record.DateRecords is null)
                                {
                                    <p class="card-text">Время не назначено</p>
                                }
                                else
                                {
                                    <p class="card-text">Назначено на @record.DateRecords.Value</p>
                                }
                                <form method="post" asp-action="EditOrder" asp-controller="Record" asp-route-id="@record.Id" class="mb-2">
                                    <div class="form-group">
                                        <label for="timeInput">Время:</label>
                                        <input type="time" name="Time" class="form-control" id="timeInput">
                                    </div>
                                    <div class="form-group">
                                        <label for="dateInput">Дата:</label>
                                        <input type="date" name="Date" class="form-control" id="dateInput">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Изменить время</button>
                                </form>
                                <form method="post" asp-action="FinishOrder" asp-controller="Record" asp-route-id="@record.Id">
                                    <button type="submit" class="btn btn-success">Поставить диагноз</button>
                                </form>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>